.child-navbar{
    height: 60px;
    width: 600px;
    background-color: rgb(59, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.child-navbar .link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.stylePage h1 {
    display: inline-block;
    background-color: red;
}