@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body{
    margin: 0px;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/********** NAVBAR *************/
.navBar{
    background-color: aqua;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    height: 70px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navBar .link{
    padding: 5px 10px;
    border-radius: 15px; 
    text-decoration: none;
    color: white;
}
.navBar .link:hover{
    background-color: white;
    color: aqua;
}

/********** SECTION *************/
.section{
    width: 100%;
    height: 600px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section h1{
    font-size: 40px;
    font-weight: bold;
}

.section p{
    font-size: 20px;
    letter-spacing: 2px;
}

/********** HOME *************/
.home{ background-color: #ffa600; }

/********** ABOUT *************/
.about{ background-color: #2bff00; }

/********** BLOG *************/
.blog{
    background-color: white;
    padding: 40px;
    min-height: calc(100vh - 70px);
}

.blog h1 {
    text-align: center;
    font-size: 30px;
    color: #ff00d4;
}

.blog > div{
    border: 1px solid #ff00d4;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

.blog p{
    font-size: 15px;
}

/********** FOOTER *************/
.footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}